@page "/AddTodo"
@using TodoForPolyrific.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="container">
    <h3>Create New</h3>
    <hr/>
    <EditForm Model="todo" OnValidSubmit="@HandleSubmit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <div class="form-group row">
            <label for="lbTitle" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <InputText id="lbTitle" @bind-Value="todo.Title" class="form-control"></InputText>
                <ValidationMessage For="@(() => todo.Title)"></ValidationMessage>
            </div>
        </div>
        <div class="form-group row">
            <label for="lbDetail" class="col-sm-2 col-form-label">Detail</label>
            <div class="col-sm-10">
                <InputTextArea id="lbDetail" @bind-Value="todo.Detail" class="form-control"></InputTextArea>
                <ValidationMessage For="@(() => todo.Detail)"></ValidationMessage>
            </div>
        </div>
        <hr/>
        <div class="mb-3">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
        </div>
    </EditForm>
</div>


@code {
    private TodoViewModel todo = new TodoViewModel();

    private async Task HandleSubmit()
    {
        todo.LastModified = DateTime.Now;

        var submitResult = await Http.PostAsJsonAsync<TodoViewModel>("api/Todo/Add", todo);

        if (submitResult.StatusCode == System.Net.HttpStatusCode.OK)
        {
            NavigationManager.NavigateTo("/");
        }
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
